body{
    background-color: rgb(232, 221, 193);
    font-family: 'Times New Roman', Times, serif;
}

#container{
    /*width: 70%;*/
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}
